<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>951306724296-atgpagokhqo4ln77brr70eum6k2382rd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951306724296-atgpagokhqo4ln77brr70eum6k2382rd</string>
	<key>API_KEY</key>
	<string>AIzaSyAze_QEIC8IgeTwQoczlt0yZOf3LYfSeKU</string>
	<key>GCM_SENDER_ID</key>
	<string>951306724296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.itiswd.ecommerce01</string>
	<key>PROJECT_ID</key>
	<string>e-commerce01-fe9d6</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce01-fe9d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951306724296:ios:ecd2bf96d1d78f7e7016fd</string>
</dict>
</plist>